.img-div {
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
}
.circle-avatar {
    /* make it responsive */
    max-width: 50px;
    width: 100%;
    height: auto;
    display: block;
    /* make it a cirkle */
    border-radius: 50%;
    /* Centering on image`s center*/
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    /* it makes the clue thing, takes smaller dimention to fill div */
    background-size: cover;
    /* it is optional, for making this div centered in parent*/
    /*margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
}
.circle-avatar-search-list {
    /* make it responsive */
    max-width: 100px;
    width: 100%;
    height: auto;
    display: block;
    /* make it a cirkle */
    border-radius: 50%;
    /* Centering on image`s center*/
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    /* it makes the clue thing, takes smaller dimention to fill div */
    background-size: cover;
    /* it is optional, for making this div centered in parent*/
    /*margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
}

.profile-avatar {
  max-height: 200px;
  height: 100%;
  width: auto;
}

.list-photo {
  max-width: 300px;
  width: 100%;
  height: auto;
}
