<div *ngIf="newPhotos.length > 0" class="jumbotron">
  <button class="btn btn-success" (click)="mergeArrays()">New {{newPhotos.length}} photos!</button>
</div>
<div *ngFor="let photo of photos">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">
                            {{photo['owner']['username']}}
                            <a href="" [routerLink]="['Profile', {userId : photo['owner']['_id']}]"><img class="circle-avatar" src="{{getProfileImageURL(photo['owner']['_id'])}}" /></a>
                        </div>
                        <div class="col-md-6 text-right">
                            {{photo['createdAt'] | amTimeAgo}}
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <img class="img-rounded img-responsive center-block" src="/photo/{{photo['_id']}}" />
                </div>
                <div class="panel-footer">
                    <a href="" [routerLink]="['Photo', {id : photo['_id']}]"><i class="glyphicon glyphicon-resize-full"></i></a>&nbsp;&nbsp;
                    <i *ngIf="canLike(photo['likes'])" (click)="likePhoto(photo['likes'], photo['_id'])" class="glyphicon glyphicon-heart clickable-item"></i><i *ngIf="!canLike(photo['likes'])" (click)="unlikePhoto(photo['likes'], photo['_id'])" class="glyphicon glyphicon-heart clickable-item" style="color:red;"></i>&nbsp; {{photo['likes'].length}} &nbsp;&nbsp;&nbsp;
                    <i class="glyphicon glyphicon-comment"></i>&nbsp; {{photo['comments'].length}}
                </div>
            </div>
        </div>
    </div>
</div>
