<div *ngFor="let user of users">
    <div class="row">
      <div class="col-md-3 text-center">
        <img class="circle-avatar-search-list" src="{{getProfileImageURL(user['_id'])}}" />
      </div>
      <div class="col-md-6">
        <h2>{{user['username']}}&nbsp;&nbsp;|&nbsp;&nbsp;{{user['name']}}</h2>
        <br><a class="btn btn-info" href="" [routerLink]="['Profile', {userId : user['_id']}]">Watch Profile</a>&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-success">Follow</button>
      </div>
    </div>
</div>
