/*Page {
  background-color: #242424;
  color: white;
}

.title {
    font-size: 30;
    margin: 20;
    text-align: center;
}

button {
  background-color: #D02E8A;
}

TextField {
  padding: 10;
  font-size: 20;
}

Button, TextField {
  margin-left: 16;
  margin-right: 16;
  margin-bottom: 10;
}

Image {
  margin-top: 5;
  margin-bottom: 20;
}*/
